/StreamHelloWorld.class
/StreamHelloWorld$Account.class
/StreamHelloWorld$AccountType.class
/Account.class
/AccountType.class
/Dish.class
/Dish$Type.class
/LambdaDishFilter.class
/LambdaWordFilter.class
/LambdaStringLengthFilter.class
/LambdaTradesTest.class
/LambdaTraderTest.class
/Trader.class
/Transaction.class
/PythagoreanTriplets.class
/StreamGenerator.class
